---
import type { GetStaticPathsOptions } from "astro";
import BaseLayout from "src/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import dayjs from "dayjs";
import type { BlogContent } from "src/types/blog";
import PaginationButton from "src/components/PaginationButton.svelte";
import BlogListCard from "src/components/BlogListCard.svelte";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const posts: BlogContent[] = await getCollection("blog");
  const allTags = new Set<string>();
  for (let post of posts) {
    for (let tag of post.data.tags ?? []) {
      allTags.add(tag.toLowerCase());
    }
  }

  const listAllTags = [...allTags];

  return listAllTags.flatMap((tag) => {
    const filteredPosts = posts.filter((post) => {
      return post.data.tags?.find((postTag) => postTag.toLowerCase() == tag);
    });
    filteredPosts.sort(
      (a, b) => dayjs(b.data.pubDate).unix() - dayjs(a.data.pubDate).unix()
    );
    return paginate(filteredPosts, {
      params: { tag },
      pageSize: 10,
    });
  });
}

const { page } = Astro.props;
const data = page.data as BlogContent[];
let title = "Blog";
if (page.lastPage > 1) {
  title += " - Page " + page.currentPage;
}
---

<BaseLayout title={title}>
  <div class="envelope-background">
    {
      data.map((post) => {
        //@ts-ignore
        return <BlogListCard {post} />;
      })
    }
  </div>
  <br />
  {/* @ts-ignore */}
  <PaginationButton prev={page.url.prev} next={page.url.next} />
</BaseLayout>
