---
import BaseLayout from "src/layouts/BaseLayout.astro";
import BaseCard from "src/components/BaseCard.astro";
---

<BaseLayout title="Home">
  <BaseCard>
    <div class="p-4">Home</div>
  </BaseCard>
</BaseLayout>
