---
import SearchButton from "./SearchButton.svelte";
import SearchModal from "./SearchModal.astro";
import ThemeIcon from "./ThemeIcon.svelte";

interface Props {
  title: string;
}

let { title } = Astro.props;
---

<div
  class="bg-base-100 text-base-content fixed top-0 flex h-16 w-full justify-center transition-all duration-300
    md:gap-1 lg:-translate-y-16"
>
  <nav class="navbar w-full">
    <div class="flex flex-1 md:gap-1 lg:gap-2">
      <span
        class="tooltip tooltip-bottom before:text-xs before:content-[attr(data-tip)]"
        data-tip="Menu"
        ><label
          aria-label="Open menu"
          for="drawer"
          class="btn btn-square btn-ghost drawer-button lg:hidden"
          ><svg
            width="20"
            height="20"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            class="inline-block h-5 w-5 stroke-current md:h-6 md:w-6"
            ><path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"></path></svg
          ></label
        ></span
      >
      <div class="font-bold text-xl">{title}</div>
    </div>
    <div class="flex gap-2">
      <ThemeIcon client:load client:only="svelte" />
      <SearchButton client:load />
      <SearchModal />
    </div>
  </nav>
</div>
