---
import Search from "astro-pagefind/components/Search";
---

<dialog id="searchModal" class="modal">
  <div class="modal-box">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
        >✕</button
      >
    </form>
    <h3 class="font-bold text-lg">Search</h3>
    <Search
      id="search-area"
      className="pagefind-ui"
      uiOptions={{ showImages: false }}
    />
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
<style>
  :root {
    --pagefind-ui-text: currentColor;
    --pagefind-ui-background: oklch(var(--b2));
    --pagefind-ui-border: oklch(var(--b3));
  }
</style>
