---
import { ViewTransitions } from "astro:transitions";
import BaseHead from "src/components/BaseHead.astro";
import Drawer from "src/components/Drawer.astro";
import Footer from "src/components/Footer.svelte";

interface Props {
  title: string;
  enablePagefind?: boolean;
}

const { title, enablePagefind = false } = Astro.props;
const prefixTitle = "Mietzen's Atelier";
const fullTitle = prefixTitle + (title ? " | " + title : "");
---

<html
  lang="en"
  class="bg-base-300 scrollbar-thin scrollbar-track-transparent scrollbar-thumb-base-content"
>
  <head>
    <title>{fullTitle}</title>
    <BaseHead />
    <ViewTransitions />
  </head>

  <body>
    <Drawer title={prefixTitle}>
      <div
        class={"min-h-[50vh]" + (enablePagefind ? "" : " disable-pagefind")}
        data-pagefind-body
      >
        <slot />
      </div>
      <Footer />
    </Drawer>
  </body>
</html>
